@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');

h1 {
    color: #172e29;
    text-align: center;
}

body::-webkit-scrollbar{
    display: none;
}

body{
    width:220px;
    background-color: #f0f0f0;
	font-family: 'Quicksand', sans-serif;
	zoom:110%;
	user-select:none
}

.dark-mode:disabled {
    color:#6e6e6e;
}

.dark-mode {
    background-color: #172e29;
    color: #f0f0f0;
}

.active {
    display: block !important;
}
.topnav {
    margin: -8px;
    margin-bottom: 0px;
    overflow: hidden;
    background-color: #f0f0f0;
    position: relative;
}
.topnav a.dark-mode {
    background: #172e29;
}
.topnav a {
    float: left;
    color: #000000;
    width: 33.3%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
}
.topnav a.dark-mode {
    color: #ffffff;
}

.topnav a.curr {
    background-color: #1a9673;
    color: white;
}

.topnav a:hover {
background-color: #c9c9c9;
}

.topnav a.dark-mode:hover {
background-color: #2e403a;
}

.topnav a.curr:hover {
    background-color: #20ba8e;
}

legend {
    font-size: 13px;
	border-color: blue;
}

option {
    background-color: rgb(200, 200, 200);
    text-align: center;
}

select {
    border: none;
    border-radius: 4px;
    background-color: rgb(200, 200, 200);
    margin-top: 1.5px;
    margin-bottom: 1.5px;
    width:100%;
}

select:hover {
    background-color: rgb(150, 150, 150);
}

input {
    border:none;
    background-color: rgb(200, 200, 200);
    border-radius: 4px;
    margin-top: 1.5px;
    margin-bottom: 1.5px;
    width: 100%;
}
input:hover {
    background-color: rgb(150, 150, 150);
} 

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
-webkit-appearance: none;
-moz-appearance: textfield;
margin: 0;
}

input[type=checkbox] {
    width:auto;
}

input,select,option {
    font-family: 'Quicksand', sans-serif;
}

.dark-mode {
    background-color: #172e29;
    color: #f0f0f0;
}

h1.dark-mode {
    color:#f0f0f0;
}

option.dark-mode {
    background-color: rgb(45, 59, 55);
}

select.dark-mode {
    background-color: rgb(45, 59, 55);
}

input.dark-mode {
    background-color: rgb(45, 59, 55);
}
input:hover.dark-mode {
    background-color: rgb(64, 84, 78);
}

select:hover.dark-mode {
    background-color: rgb(64, 84, 78);
}

.rf_button {
    line-height: 25px;
}

form{
    margin-bottom:0px;
}

label{
    pointer-events:none;
}
